.circle {
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}


@media (min-width : 1600px) {
  .circle {
    margin:  35px;
    height: 80px;
    width: 80px;
  }
}
